*{
    margin: 0px;
    padding: 0px;
    font-family: tahoma;
    
}
.container{
    display: grid;
    grid-template-columns: 1fr 4fr 5fr;

}

.menu{
    display: flex;
    align-items:first baseline;
    justify-content: center;
    height: 790px;;
    width: 75px;
    background-color: #63a0cc;
    

}



body ul li img{
    height: 30px;
    width: 30px;
    margin: 50px 50px;


}

ul li{
    list-style: none;
}

ul li img .orange{
    background-color: #ffa658;
}

img .icon{
    margin-left: 30px;
    height: 50px;
    width: 50px;
    align-self: first;
    margin-bottom: 0px;
}

.numbers{
    padding: 0px;
    margin: 45px;
    color: #63a0cc;
    
}

.numbers h1{

    font-size: 65px;
    margin: 45px 0;
    margin-bottom: 20px;
}

.numbers h2{
    padding: 0;
    margin: 45px;
    margin-bottom: 20px;
}

.numbers p{
    margin: 60px;
    margin-left: 20px;
    font-size: 25px;
}

.extra{
    background-color: #63a0cc;
    margin-top: 70px;
    height: 250px;
    width: 500px;
}

.inside{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-self: center;
}

.inside img{
    width: 500px;
}

 .inside .extra img {
    height: 30px;
    width: 30px;
}

.extra{
    display: grid;
    border-radius: 30px;
    align-items: center;
}

.extra h2{
    display: inline-block;
    color: #ffffff;
}

.extra .line{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-self: center;
}

.extra .line img{
    margin: 30px;
    border-radius: 100px;


}

.extra .line h2{
    margin-right: 250px;
}

